
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: navy;
  font-family: 'VT323', monospace;
  color: palevioletred;
}

/* HEADER */

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

header h1 {
  font-size: 100px;
}

/* MAIN */

main {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

main .container {
  background-color: white;
  height: 50vh;
  width: 50vh;
}

main .grid-tools {
  font-size: 2em;
}

.grid-tools li {
  list-style: none;
}

.grid-square-size-tool {
  display: flex;
  gap: 3vh;
}

.grid-size-number {
  color: lime;
}

.gridless-mode-tool {
  display: flex;
  gap: 2vh;
}

.gridless-mode-state {
  color: lime;
}

.rainbow-mode-tool {
  display: flex;
  gap: 2vh;
}

.rainbow-mode-state {
  color: lime;
}

.eraser-mode-tool {
  display: flex;
  gap: 2vh;
}

.eraser-mode-state {
  color: lime;
}

form fieldset {
  border: none;
}

.reset-btn {
  background-color: navy;
  border: solid 1px navy;
  font-family: 'VT323', monospace;
  font-size: 1em;
  color: palevioletred;
}

.reset-btn:hover {
  color: lime;
  border: solid 1px lime
}

/* GRID */

.container {
  display: flex;
  flex-direction: column;
}

.container .row {
  display: flex;
  flex: 1;
}

.container .cell {
  flex: 1;
}

/* FOOTER */

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
}

footer img {
  background-color: palevioletred;
  border-radius: 50%;
}

footer a {
  text-decoration: none;
  color: palevioletred;
}

footer a:hover {
  color: lime;
}