
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: navy;
  font-family: 'VT323', monospace;
  color: palevioletred;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  gap: 30px;
}

header h1 {
  margin: 0;
}
