
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: navy;
  font-family: 'VT323', monospace;
  color: palevioletred;
}

/* HEADER */

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

header h1 {
  font-size: 100px;
}

/* MAIN */

main {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

main .container {
  background-color: white;
  height: 50vh;
  width: 50vh;
}

main .grid-tools {
  font-size: 2em;
}

.grid-tools li {
  list-style: none;
}

form fieldset {
  border: none;
}

.reset-btn {
  background-color: navy;
  border: solid 1px navy;
  font-family: 'VT323', monospace;
  font-size: 1em;
  color: palevioletred;
}

.reset-btn:hover {
  color: lime;
  border: solid 1px lime
}